<!doctype html>
<html lang="us">
<head>
    <meta charset="utf-8">
    {% if animal is defined %}
    <title>{{ animal }}</title>
    {% else %}
    <title>MWorks Client</title>
    {% endif %}
    <script type="text/javascript"
        src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script type="text/javascript"
        src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
    <script type="text/javascript"
        src="{{ url_for('static', filename='js/jquery.pnotify.js') }}"></script>
    <script type="text/javascript"
        src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
    <script type="text/javascript"
        src="{{ url_for('static', filename='js/knockout.js') }}"></script>
    <script type="text/javascript"
        src="{{ url_for('filetree.static', filename='js/jqueryFileTree.js') }}"></script>

    <script type="text/javascript" 
        src="{{ url_for('static', filename='js/canvasjs.min.js') }} "></script><!--draws the area chart-->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/smoothness/jquery-ui.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.pnotify.default.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.pnotify.default.icons.css') }}" />

    <link href="{{ url_for('filetree.static', filename='css/jqueryFileTree.css') }}" rel="stylesheet"></link>

    <script type="text/javascript"
        src="{{ url_for('static', filename='js/d3.v2.js') }}"></script>
    <script type="text/javascript"
        src="{{ url_for('static', filename='js/nv.d3.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nv.d3.css') }}" />

    <style>
        body {
            font: 62.5% "Trebuchet MS", sans-serif;
        }

        #create_variables_form {
            display: inline-block;
        }

        #chart {
            height: 500px;
        }
        
        .control_column {
            float: left;
            min-width: 250px;
        }

        .multicolumn_block {
            overflow: hidden;
        }

        .message_list {
            list-style: none;
        }

        .ui-pnotify {
            top: 40%;
        };

        .note_list {
            list-style: none;
        };

    </style>

    {% block head %}
    {% endblock %}

    <script type="text/javascript" src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
    <!--
    <script type="text/javascript" src="{{ url_for('static', filename='js/html2canvas.js') }}"></script>
    -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/report.js') }}"></script>

    <script type="text/javascript"
        src="{{ url_for('static', filename='js/client.js') }}"></script>

    <script>
        $.pnotify.defaults.styling = "jqueryui";
        $.pnotify.defaults.maxonscreen = 5;
        //$.pnotify.defaults.nonblock = true;
        var client; // make this global
        var tids = [];

        window.onload = function(){
            //makeDropDown();

        };


        function makeIndividualGraphDropdown(){
            //make the dropdown for graphing the individual graph
            for(i in client.vars()){
                var option = document.createElement("option");
                option.text = client.vars()[i].name();
                //console.log(option);
                document.getElementById("variablesGraphDropdown").add(option);
            }

        }


        var allVariablesList = [];
        function makeVariableList(){
            //Make the variable list for the add a variable auto-complete text box
            for(i in client.vars()){
                allVariablesList.push(client.vars()[i].name());
            }
        }


        function listVariables(){
            //auto complete the add variable textbox 
            $( "#addVariableInput" ).autocomplete({

                source: allVariablesList
            });
        }

        function isInVariableList(variable){
            //A helper function for addNewVariable
            for(i in client.vars()){
                if(client.vars()[i].name() == variable){
                    return true;
                }
            }
            return false;
        }

        function addNewVariable(){
            var variableName = $("#addVariableInput").val();

            if( ! isInVariableList(variableName)){
                //If the variable does not exist: throw a exception
                client.throw("The variable " + variableName +" does not exist.");
                alert("The variable " + variableName +" does not exist.");
            }
            else{
                if(confirm("Are you sure you want to add variable " + variableName + " to control?")){
                    $("#addVariableInput").val("");
                    var types = document.getElementById("addedVariableType");
                    var variableType = types.options[types.selectedIndex].value;
                    //console.log(variableType);
                    if(variableType == "textBox"){
                        //If the variable the using is adding should be tracked using a textbox
                        $("#addedVariables").append("<div var-bind = '" + variableName + "'" + "class = 'addedVariables'>" + variableName + "<a href = '#' onclick = 'removeElement(this)'> remove </a>" + "</div>");

                        client.bind_variables('.addedVariables');
                        //Bind the variables in the class "addedVariables"
                    }

                    else if (variableType == "checkBox"){
                        //If the variable should be tracked using a checkbox
                        $("#addedVariables").append("<div var-bind = 'check:" + variableName + "'" + "class = 'addedVariables'>" + variableName + "<a href = '#' onclick = 'removeElement(this)'> remove </a>" + "</div>" );
                        client.bind_variables('.addedVariables');
                    }

                    else if (variableType == "inc_dec"){
                        $("#addedVariables").append("<div var-bind = '" + variableName + "'" + "class = 'addedVariables inc_dec'>" + variableName + "<a href = '#' onclick = 'removeElement(this)'> remove </a>" + "</div>" );
                        client.bind_variables('.addedVariables');
                        $(".inc_dec").each(function(){
                            if($(this).get(0).innerHTML.indexOf("<button") == -1){
                                //Using escape is very important. Just staggering '' & "" is not enough
                                $(this).append("<button onclick = \"incrementValue(\'" + variableName + "\');\">+</button>");
                                $(this).append("<button onclick = \"decrementValue(\'" + variableName + "\');\">-</button>");
                            }
                        });

                    }
                    //$(this).append("<a href = '#' onclick = 'removeElement()'>remove</a>");
                    

                }
                else{
                    //If the user does not confirm then do nothing
                }
            }

        }

        function incrementValue(variableName){
            $(".addedVariables").each(function(){
                //console.log($(this).find("input").text());
                if($(this).text() == variableName.concat("+-")){
                    //console.log(variableName);
                    var inputValue = $(this).find("input").val();
                    //console.log(inputValue);
                    if(inputValue == ""){
                        $(this).find("input").val(1);
                    }
                    else{

                        $(this).find("input").val(parseInt(inputValue) + 1);
                    }
                } 
            });
        }

        function decrementValue(variableName){
            $(".addedVariables").each(function(){
                //console.log($(this).text());
                if($(this).text() == variableName.concat("+-")){
                    //console.log(variableName);
                    var inputValue = $(this).find("input").val();
                    //console.log(inputValue);
                    if(inputValue == ""){
                        $(this).find("input").val(0);
                    }
                    else{
                        $(this).find("input").val(parseInt(inputValue) - 1);
                    }
                } 
            });
        }

        function removeElement(element){
            $(element.closest("div")).remove()
            //$(element).remove();
        }

        function saveAddedVariables(){
            var addedVariables = $("#addedVariables").html();
            
            var selectedGraphs = [];
            $("input:checkbox[name=stack_graph_variables]:checked").each(function () {
                selectedGraphs.push($(this).val());
            });
            addedVariables = addedVariables + "<p id = \"graphVariables\">" + selectedGraphs + "</p>";
/*            addedVariables = addedVariables + $("#stack_graph_variables").html();
            addedVariables = addedVariables + $("#VariablesToBeReported").html();*/
            var selected = [];
            $("input:checkbox[name=variablesToBeAdded]:checked").each(function () {
                selected.push($(this).val());
            });
            addedVariables = addedVariables + "<p id = \"reportVariables\">" + selected + "</p>";
            // var uri = "data:application/octet-stream;base64,"+btoa(addedVariables);

            // document.location = uri;
            var time = new Date();
            var fileName = "".concat(time.getFullYear()) + (time.getMonth() + 1) + time.getDate() + time.getHours() + time.getMinutes();
            
            $("#saveChanges").attr("href", 'data:text/plain;base64,' + window.btoa(addedVariables)).attr("download", fileName + ".html");
                //$(this).attr("href", 'data:text/plain;base64,' + window.btoa(test)).attr("download", "file-" + d + ".html");
            console.log("Save");  
        }
/*
        saveAddedVariables = function () {
            var d = new Date().toISOString().slice(0, 19).replace(/-/g, "");
            var test = "test";
            $("#saveChanges").attr("href", 'data:text/plain;base64,' + window.btoa(test)).attr("download", "file-" + d + ".html");
            console.log("???");
            console.log($(this));
        };*/

        function loadAddedVariables(file){
            var reader = new FileReader();
            console.log(file);
            console.log(reader.readAsText(file));
        }

        function start_graphing() {
            if (!tids.length) {
                //$.pnotify({title: 'starting graphing'});
                $('#graph_status').text('graphing');
                for (i in client.graphs) {
                    client.graphs[i].start();
                };
                tids.push(window.setInterval(client.redraw_graphs, 1000));
                //console.log(tids);
            };
        };

        function start_session_graphing(){
            //if(!tids.length){
                for(i in client.sessionGraph){
                    client.sessionGraphs[i].start();
                };
                tids.push(window.setInterval(client.redraw_graphs, 1000));
            //};
        };

        function start_individual_graphing(){
            //if (!tids.length) {
                console.log("started");
                for (i in client.individual_graphs) {
                    client.individual_graphs[i].start();
                    console.log("start");
                };
                tids.push(window.setInterval(client.redraw_graphs, 1000));
                //console.log(tids);
           // };
        }

/*        function graph_individual_graph(client, type, start_time, data){
            mworks.individual_graph(client, type, start_time, data).render();
        }*/

/*        function toggle_individual_graph(){
            $("#individual_chart").toggle();
        }

        function toggle_session_graph(){
            $('#session_chart').toggle();
        }*/

        function openAddedVariablesFileTree(){
            $("#loadAddedVariablesFileTree").dialog('open');
        }

        function readSingleFile(e) {
            var file = e.target.files[0];
            if (!file) {
                return;
            }
            var reader = new FileReader();
            reader.onload = function(e) {
                var contents = e.target.result;

                var index = contents.indexOf("<p");
                var variables = contents.substring(0, index);
                $("#addedVariables").empty();
                $("#addedVariables").append(variables);


                contents = contents.substring(index);
                var graphindex = contents.indexOf("</p>");
                var graphVariables = contents.substring(contents.indexOf(">") + 1, graphindex);
                console.log(graphVariables);
                var graphVariablesArray = graphVariables.split(",");
                client.add_graph(graphVariablesArray, "stacked");

                contents = contents.substring(graphindex + 4);
                var reportIndex = contents.indexOf("</p>");
                var reportVariables = contents.substring(contents.indexOf(">") + 1, reportIndex);
                console.log(reportVariables);
                var reportVariablesArray = reportVariables.split(",");
                reports.vars = reportVariablesArray;
            };
            reader.readAsText(file);
        }


        function stop_graphing() {
            //$.pnotify({title: 'stopping graphing'});
            $('#graph_status').text('paused');
            while (tids.length) {
                window.clearInterval(tids.pop());
            };
        };

        function store_reference() {
            for (gi in client.graphs) {
                g = client.graphs[gi];
                refs = {};
                for (ki in g.data) {
                    k = g.data[ki]['key'];
                    v = client.varbyname(k).latest_value();
                    if (v !== null) {
                        g.data[ki]['ref'] = v;
                        refs[k] = v;
                    };
                };
                if (true) {
                    s = 'Set graph ' + gi + ' reference to:\n'
                    for (k in refs) {
                        s += '' + k + ' = ' + refs[k] + '\n';
                    };
                    client.info(s);
                };
            };
        };



        function makeCheckboxes(){
            console.log('running');
            console.log($("#VariablesToBeReported").length);
            if (document.getElementById("VariablesToBeReported").length == 0) {
                for(i in client.vars()){
                    var varName = client.vars()[i].name();
                    $("#VariablesToBeReported").append("<input type = \"checkbox\" name = \"variablesToBeAdded\" value = \"" + varName + "\"> " + varName + "</input>");
                    //option.text = client.vars()[i].name();
                }
                /*xmlhttp=new XMLHttpRequest();
                xmlhttp.open("GET","cd_catalog.xml",false);*/
            }
        }


        function saveReportVariables(){
            var selected = [];
            $("input:checkbox[name=variablesToBeAdded]:checked").each(function () {
                selected.push($(this).val());
            });

            reports.vars = selected;
            $("#VariablesToBeReported").hide();

            
            var variables = "";
            for(i in reports.vars){
                //console.log(reports.vars[i]);
                variables = variables.concat(reports.vars[i]).concat(", ");
                //console.log(variables);
            }

            $("#selectedVariables").text("Variables to be reported are: " + variables);

        }

        function editReportVariables(){
            $("#VariablesToBeReported").show();
        }

        function makeGraphCheckboxes(){
            if (document.getElementById("stack_graph_variables").length == 0) {
                for(i in client.vars()){
                    var varName = client.vars()[i].name();
                    $("#stack_graph_variables").append("<input type = \"checkbox\" name = \"stack_graph_variables\" value = \"" + varName + "\"> " + varName + "</input>");
                    //option.text = client.vars()[i].name();
                }
            }
        }

        function make_stacked_graph(){
            var selected = [];
            $("input:checkbox[name=stack_graph_variables]:checked").each(function () {
                selected.push($(this).val());
            });
            console.log(selected);
            client.add_graph(selected, "stacked");
            $("#stack_graph_variables").hide();
        }

        function edit_stacked_graph(){
            $("#stack_graph_variables").show();
        }


        {% block head_js %}
        {% endblock %}

        $(document).ready(function () {
            console.log("document ready");
            $(window).keydown(function (event) {
                if (event.which == 27) {  // ESC
                    $.pnotify_remove_all();
                };
            });

            client = mworks.client();
            client.connect_socket();
            // need to template the toolbar, and other tags that require id
            $('#toolbar').tabs();
            $('#display').tabs({
                activate: function (event, ui) {
                    //console.log({'event': event, 'ui': ui});
                    if ($('a', ui.newTab).attr('href') == '#disp_graphs') {
                        start_graphing();
                    } else {
                        stop_graphing();
                    };
                },
            });

            $('#filetree').fileTree({
                //root: '~/Repositories/coxlab/new_protocols',
                root: '~/Repositories/protocols',
                script: "{{ url_for('filetree.sfiles') }}",
            }, function (file) {
                $('#filetree').dialog('close');
                client.experiment_path(file);
                client.load_experiment();
            });

            $('#filetree').dialog({
                autoOpen: false,
                height: 400,
            });

            $("#loadAddedVariablesFileTree").fileTree({
                script: "{{ url_for('filetree.sfiles') }}",
                multiFolder: false,

            }, function (file){
                $('#loadAddedVariablesFileTree').dialog('close');
                loadAddedVariables(file);

            });
            $("#loadAddedVariablesFileTree").dialog({
                autoOpen: false,
            });

            document.getElementById('loadAddedVariables').addEventListener('change', readSingleFile, false);

            reports.post_callback = function (result, msg) {
                body = {
                    title: 'Report status',
                    text: msg + ':' + result['status'],
                };
                if (result['error']) {
                    body['type'] = 'error';
                    body['hide'] = false;
                };
                $.pnotify(body);
            };

            client.select_experiment = function () {
                $('#filetree').dialog('open');
            };

            client.error = function (msg) {
                $.pnotify({
                    title: 'Error',
                    text: msg,
                    type: 'error',
                    hide: false,
                });
            };

            client.info = function (msg) {
                $.pnotify({
                    title: 'Info',
                    text: msg,
                });
            };
            // must be done AFTER redefining select_experiment :-/ 
            client.apply_binding('#toolbar');
            client.apply_binding('#disp_variables');
            client.apply_binding('#disp_graphs');
            client.apply_binding('#disp_messages');
            client.apply_binding('#disp_notes');
            client.bind_variables('[var-bind]');

            {% block documentready_js %}
            {% endblock %}
            {% if session_config is defined %}
            client.load_config({{ session_config|tojson|safe }});
            {% endif %}
            $(client).on('after:variableset')
            $(window).focus(function () {
                if ($('#disp_graphs').css('display') !== 'none') {
                    start_graphing();
                };
            });
            $(window).blur(stop_graphing);
            window.onbeforeunload = function () {
                return "Report posted?\nVaribleset saved?\nDatafile stream closed?";
            };
        });
    </script>
</head>
<body>
    <div class="client" data-bind="with: client">
        <div id="toolbar" class="toolbar">
            <ul>
                <li><a href='#tb_connection'>Connection</a></li>
                <li><a href='#tb_experiment'>Experiment</a></li>
                <li><a href='#tb_variableset'>Variableset</a></li>
                <li><a href='#tb_datafile'>Datafile</a></li>
                <li><a href='#tb_report' onclick = "makeCheckboxes()">Report</a></li>
            </ul>
            <!-- Connection -->
            <div id="tb_connection" class="tb_connection">
                <span>Socket: 
                <span class="socket_connected"
                    data-bind="text: socket_connected_verbose, style: { color: socket_connected() ? 'green' : 'red' }"></span></span>
                <span>Server:
                <span class="connected"
                    data-bind="text: connected_verbose, style: { color: connected() ? 'green' : 'red' }"></span></span>
                <span>Host:
                <input class="host" title="host"
                data-bind="value: host"></input></span>
                <span>Port:
                <input class="port" title="port"
                    data-bind="value: port"></input></span>
                <span>User:
                <input class="user" title="user"
                    data-bind="value: user"></input></span>
                <button class="connect"
                    data-bind="text: toggle_connect_label,
                        click: toggle_connect">
                </button>
                <input class="start_server" type="checkbox"
                    title="Start Server?"
                    data-bind="checked: startserver">Start Server</input>
            </div>

            <!-- Experiment -->
            <div id="tb_experiment" class="tb_experiment">
                <button class="running"
                    title="Start/Stop"
                    data-bind="text: toggle_running_label,
                        click: toggle_running">
                </button>
                <button class="paused"
                    title="Pause/Resume"
                    data-bind="text: toggle_paused_label,
                        click: toggle_paused">
                </button>
                <span class="experiment_name"
                    data-bind="text: experiment_name"></span>
                <input class="experiment_path"
                    data-bind="value: experiment_path"></input>
                <button class="load_experiment"
                    data-bind="click: load_experiment">Load</button>
                <button class="close_experiment"
                    data-bind="click: close_experiment">Close</button>
                <button class="select_experiment"
                    data-bind="click: select_experiment">Select Experiment
                </button>
                <span>Protocol:
                <select class="protocol"
                    title="Select protocol"
                    data-bind="options: protocols, value: protocol">
                </select></span>
            </div>

            <!-- Variables -->
            <div id="tb_variableset" class="tb_variableset">
                <span>Variables:
                <select class="variableset"
                    title="Select variableset"
                    data-bind="options: variablesets,
                        value: variableset">
                </select>
                <input class="variableset_overwrite" type="checkbox"
                    title="Overwrite Variables?"
                    data-bind="checked: variableset_overwrite">Overwrite?</input>
                <button class="load_variableset"
                    title="Load Variables"
                    data-bind="click: load_variableset">Load</button>
                <button class="save_variableset"
                    title="Save Variables"
                    data-bind="click: save_variableset">Save</button>
                    <form id='create_variables_form'
                        data-bind="submit: function (f) { client.create_variableset($('.name', f).val()); }">
                        Create New Variableset:
                        <input class="name" title="Type in name of variableset to create, press Enter to create"></input>
                    </form>
                </span>
            </div>

            <!-- Datafile -->
            <div id="tb_datafile" class="tb_datafile">
                <span>Datafile:
                    <span data-bind="text: datafile_saving_verbose, style: { color: datafile_saving() ? 'green' : 'red' }"></span>
                <input class="datafile" title="datafile name or path" data-bind="value: datafile"></input>
                <input class="datafile_overwrite" type="checkbox"
                    title="Overwrite Datafile?"
                    data-bind="checked: datafile_overwrite">Overwrite?</input>
                <button class="open_datafile" data-bind="click: open_datafile">
                Start Stream</button>
                <button class="close_datafile" data-bind="click: close_datafile">
                Close Stream</button>
                </span>
            </div>
            <div id="tb_report" class="tb_report">
                User: <input data-bind="value: user"></input>
                <form id = "VariablesToBeReported">

                </form>
                <p id = "selectedVariables"></p>
                <button onclick = "saveReportVariables()">Save</button>
                <button onclick = "editReportVariables()">Edit</button><br>
                <button onclick="reports.report(client)">Publish Report</button>
            </div>
        </div> <!-- toolbar -->
        <div id="display" class="toolbar">
            <ul>
                <li><a href='#disp_variables'>Variables</a></li>
                <li><a href='#disp_controls' onclick = "makeVariableList()">Controls</a></li>
                <li><a href='#disp_graphs' onclick = "makeIndividualGraphDropdown();makeGraphCheckboxes();">Graphs</a></li>
                <li><a href='#disp_messages'>Messages</a></li>
                <li><a href='#disp_notes'>Notes</a></li>
                {% block display_menu %}
                {% endblock %}
            </ul>
            <div id="disp_variables" class="disp_variables">
                <table>
                    <thead><tr>
                            <th>Name</th><th>Latest</th>
                    </tr></thead>
                    <tbody data-bind="foreach: vars">
                        <tr>
                            <td data-bind="text: name"></td>
                            <!--todo:
                                Figure the td out...bind variable with the two graphs-->
                            <td><input class="variable_edit" data-bind="value: latest_value"/></td>
                            <!-- <td data-bind="text: latest_value"</td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="disp_controls" class="disp_controls">
                {% block display_controls %}
                {% endblock %}
                <div>
                    <h1>Add variables</h1>
                    <input type = "text" onkeypress="listVariables()" id = "addVariableInput"></input>
                    <select id = "addedVariableType">
                        <option value = "textBox" selected>Text box</option>
                        <option value = "checkBox">Check box</option>
                        <option value = "inc_dec">Tex box with increment/decrement</option>
                    </select>
                    <button onclick = "addNewVariable()">Add variable</button>
                </div>
                <div id = "addedVariables">

                </div>

                <div>
                    <!-- <button onclick = "saveAddedVariables()" >Save</button> -->
                    <a href="#" type = "button" onclick = "saveAddedVariables()" data-type = "button" id = "saveChanges">Save</a>
                    <!-- <button onclick = "saveAsAddedVariables()">Save as...</button> -->
                    <!--<button onclick = "openAddedVariablesFileTree()">Load</button>-->
                </div>

                <div>
                    Load: <input type = "file" id = "loadAddedVariables"></input>
                </div>

            </div>

            <div id="disp_graphs" class="disp_graphs">
                <div>
                    <button class="control_button" title="start graphing"
                        onclick="start_graphing()">Start Graphing</button>
                    <button class="control_button" title="stop graphing"
                        onclick="stop_graphing()">Stop Graphing</button>
                    <input class="control_check" type="checkbox"
                        title="Graph Relative to Reference"
                        data-bind="checked: client.graph_ref">Graph Relative to Reference</input>
                    <button class="store_reference" title="store reference"
                        onclick="store_reference()">Store Reference</button>
                    <span id="graph_status"></span>
                </div>

                <!--<div>
                    <input id = "graphGeneral" type = "radio" name = "graphDataType" value = "general" onchange = "client.add_graph(['correct_lick', 'correct_ignore', 'bad_lick', 'bad_ignore'], 'stacked');" checked> General</input>
                    <input type = "radio" name = "graphDataType" value = "session" onchange = "client.add_graph(['correct_lick', 'correct_ignore', 'bad_lick', 'bad_ignore'], 'stacked');"> Session</input>
                </div>-->
                    
                <form id = "stack_graph_variables">
                    
                </form>
                <button onclick = "make_stacked_graph();">Graph</button>
                <button onclick = "edit_stacked_graph();">Edit</button>

                <div id='chart_div'>
                    <svg id='chart'></svg>
                </div>


                <!--<div id = "disp_session_graph" class = "disp_controls">
                    <form>
                    </form>
                    <button onclick = "toggle_session_graph();"> Hide / show session graph </button>

                    <div id = "session_chart_div" style = "width : 100%">
                        <svg id = "session_chart"></svg>
                    </div>
                </div>

                <div id = "disp_individual_graph" class = "disp_controls">
                    <form>
                        <input type = "radio" name = "individual_graph" class = "control_button" title = "test" onclick = "graph_individual_graph(client, 'correct lick', 0, [null]);">correct lick</input>
                        <input type = "radio" name = "individual_graph" class = "control_button" title = "test" onclick = "graph_individual_graph(client, 'correct ignore', 0, [null]);">correct ignore</input>
                        <input type = "radio" name = "individual_graph" class = "control_button" title = "test" onclick = "graph_individual_graph(client, 'bad lick', 0, [null]);">bad lick</input>
                        <input type = "radio" name = "individual_graph" class = "control_button" title = "test" onclick = "graph_individual_graph(client, 'bad ignore', 0, [null]);">bad ignore</input>
                    </form>
                    <button onclick = "toggle_individual_graph();"> Hide / show individual graph</button>
                    <div id = "individual_chart" style = "width: 100%">
                        
                    </div>
                </div>-->
<!--                 <div>
                    <button onclick = "makeDropdown();">Make dropdown </button>
                </div> -->
                <div>
                    <select id = "variablesGraphDropdown">

                    </select>
                    <button onclick = "client.add_individual_graph()">Draw </button>
                </div>
                <div id = "individual_chart_div">
                    <svg id = 'individual_chart'><svg>
                </div>



            </div>

            

            {% block display_items %}
            {% endblock %}
            <div id="disp_messages" class="disp_messages">
                <button class="control_button" title="clear messages"
                    data-bind="click: clear_messages">Clear Messages</button>
                N Messages: <input type="number" title="Show N recent messages"
                data-bind="value: max_messages"></input>
                Verbosity: <input type="number" title="lower = more messages"
                data-bind="value: message_verbosity"></input>
                Notification Threshold: <input type="number" title="lower = more notifications"
                data-bind="value: message_error_verbosity"></input>
                <ul class="message_list" data-bind="foreach: messages">
                    <li data-bind="style: { color: color }">
                        <span data-bind="text: stype"></span>:
                        <span data-bind="text: message"></span>
                    </li>
                </ul>
            </div>
            <div id="disp_notes" class="disp_notes">
                <form id='add_note_form'
                    data-bind="submit: function (f) { client.add_note($('.note', f).val()); $('.note', f).val('');}">
                    Note:
                    <input class="note" title="Type in a note, press Enter to create"></input>
                </form>
                <ul class="note_list" data-bind="foreach: notes">
                    <li>
                        <span data-bind="text: $data"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% block body %}
    {% endblock %}
    <div id="filetree" title="Select a file"></div>
</body>
</html>
